In [3]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/Code-Gym/python-dataset/master/msg.txt',
                  sep='\t',
                  names=['status', 'msg'])
data

     status                                                msg
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham               Will ü b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
data['status'].str.upper()#幫你把字串改成大寫

0        HAM
1        HAM
2       SPAM
3        HAM
4        HAM
        ...
5567    SPAM
5568     HAM
5569     HAM
5570     HAM
5571     HAM
Name: status, Length: 5572, dtype: object

In [5]:
data['msg'][0].upper()

'GO UNTIL JURONG POINT, CRAZY.. AVAILABLE ONLY IN BUGIS N GREAT WORLD LA E BUFFET... CINE THERE GOT AMORE WAT...'

In [6]:
#將字串第一個字變成大寫
data['msg'].str.title()

0       Go Until Jurong Point, Crazy.. Available Only ...
1                           Ok Lar... Joking Wif U Oni...
2       Free Entry In 2 A Wkly Comp To Win Fa Cup Fina...
3       U Dun Say So Early Hor... U C Already Then Say...
4       Nah I Don'T Think He Goes To Usf, He Lives Aro...
                              ...
5567    This Is The 2Nd Time We Have Tried 2 Contact U...
5568                 Will Ü B Going To Esplanade Fr Home?
5569    Pity, * Was In Mood For That. So...Any Other S...
5570    The Guy Did Some Bitching But I Acted Like I'D...
5571                           Rofl. Its True To Its Name
Name: msg, Length: 5572, dtype: object

In [7]:
#尋找字串長度
data['msg'].str.len()

0       111
1        29
2       155
3        49
4        61
       ...
5567    160
5568     36
5569     57
5570    125
5571     26
Name: msg, Length: 5572, dtype: int64

In [8]:
#將特定字串替換成另一個新的字串
data['status'].str.replace('ham', 'not spam')

0       not spam
1       not spam
2           spam
3       not spam
4       not spam
          ...
5567        spam
5568    not spam
5569    not spam
5570    not spam
5571    not spam
Name: status, Length: 5572, dtype: object

In [12]:
#依據特定符號分割字串
'a, b, c'.split(',')[1]

' b'

In [14]:
data['msg'].str.split(',')[0]

['Go until jurong point',
 ' crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...']

In [19]:
#想找字串開頭符合某項文字或符號
data['msg'].str.startswith('a')

0       False
1       False
2       False
3       False
4       False
        ...
5567    False
5568    False
5569    False
5570    False
5571    False
Name: msg, Length: 5572, dtype: bool

In [21]:
data.loc[data['msg'].str.startswith('a')]
#找出開頭是a的簡訊內容

     status                                                msg
427     ham                        aathi..where are you dear..
907    spam  all the lastest from Stereophonics, Marley, Di...
1071    ham    alright, I'll make sure the car is back tonight
2088    ham  alright babe, justthought id sayhey! how u do...
2843    ham                        aathi..where are you dear..
2950    ham                at bruce b downs &amp; fletcher now
3440    ham  awesome, how do I deal with the gate? Charles ...
3471    ham                        aathi..where are you dear..
3555    ham                     am up to my eyes in philosophy
4249   spam  accordingly. I repeat, just text the word ok o...
4424    ham  alright. Thanks for the advice. Enjoy your nig...
4881    ham  alright tyler's got a minor crisis and has to ...
5448    ham  aight we can pick some up, you open before ton...

In [22]:
data[data['msg'].str.startswith('a')]
#和上面一樣意思不同寫法

     status                                                msg
427     ham                        aathi..where are you dear..
907    spam  all the lastest from Stereophonics, Marley, Di...
1071    ham    alright, I'll make sure the car is back tonight
2088    ham  alright babe, justthought id sayhey! how u do...
2843    ham                        aathi..where are you dear..
2950    ham                at bruce b downs &amp; fletcher now
3440    ham  awesome, how do I deal with the gate? Charles ...
3471    ham                        aathi..where are you dear..
3555    ham                     am up to my eyes in philosophy
4249   spam  accordingly. I repeat, just text the word ok o...
4424    ham  alright. Thanks for the advice. Enjoy your nig...
4881    ham  alright tyler's got a minor crisis and has to ...
5448    ham  aight we can pick some up, you open before ton...

In [23]:
#過濾不是垃圾信的訊息
ham = data[data['status'] == 'ham']
ham

     status                                                msg
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
6       ham  Even my brother is not like to speak with me. ...
...     ...                                                ...
5565    ham                                       Huh y lei...
5568    ham               Will ü b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[4825 rows x 2 columns]

In [26]:
#過濾不是垃圾訊息中，有ＯＫ的訊息
mask = ham['msg'].str.contains('OK')
mask

0       False
1       False
3       False
4       False
6       False
        ...
5565    False
5568    False
5569    False
5570    False
5571    False
Name: msg, Length: 4825, dtype: bool

In [27]:
ham[mask]

     status                                                msg
457     ham  LOOK AT AMY URE A BEAUTIFUL, INTELLIGENT WOMAN...
820     ham  BOO BABE! U ENJOYIN YOURJOB? U SEEMED 2 B GETT...
984     ham  LOOK AT THE FUCKIN TIME. WHAT THE FUCK YOU THI...
1080    ham  Me too watching surya movie only. . .after 6 p...
1303    ham  FRAN I DECIDED 2 GO N E WAY IM COMPLETELY BROK...
1908    ham                                    ELLO BABE U OK?
2158    ham  Sad story of a Man - Last week was my b'day. M...
2217    ham  OK i'm waliking ard now... Do u wan me 2 buy a...
2606    ham  HELLO U.CALL WEN U FINISH WRK.I FANCY MEETIN U...
2849    ham  Sad story of a Man - Last week was my b'day. M...
3149    ham  CHEERS U TEX MECAUSE U WEREBORED! YEAH OKDEN H...
3186    ham  MAYBE IF YOU WOKE UP BEFORE FUCKING 3 THIS WOU...
3211    ham  She said,'' do u mind if I go into the bedroom...
3212    ham  OH YEAH,AND HAV A GREAT TIME IN NEWQUAY-SEND M...
3324    ham  She said,'' do u mind if I go into the bedroom...
3644    ham  Sorry, left phone upstairs. OK, might be hecti...
3980    ham  CERI U REBEL! SWEET DREAMZ ME LITTLE BUDDY!! C...
4358    ham  HELLOGORGEOUS, HOWS U? MY FONE WAS ON CHARGE L...
4468    ham  She said,'' do u mind if I go into the bedroom...
4994    ham  HEY KATE, HOPE UR OK... WILL GIVE U A BUZ WEDL...
5155    ham  MY NEW YEARS EVE WAS OK. I WENT TO A PARTY WIT...
5202    ham           WOT STUDENT DISCOUNT CAN U GET ON BOOKS?
5224    ham  OH FUCK. JUSWOKE UP IN A BED ON A BOATIN THE D...

In [28]:
#改欄位名稱
data.columns.str.upper()

Index(['STATUS', 'MSG'], dtype='object')

In [30]:
data.columns = data.columns.str.upper()
data

     STATUS                                                MSG
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham               Will ü b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [34]:
mask1 = ham['msg'].str.contains('HI')

In [35]:
ham[mask1]

     status                                                msg
72      ham      HI BABE IM AT HOME NOW WANNA DO SOMETHING? XX
623     ham  MAKE SURE ALEX KNOWS HIS BIRTHDAY IS OVER IN F...
674     ham  Ditto. And you won't have to worry about me sa...
909     ham                    WHITE FUDGE OREOS ARE IN STORES
984     ham  LOOK AT THE FUCKIN TIME. WHAT THE FUCK YOU THI...
1035    ham  ZOE IT JUST HIT ME 2 IM FUCKING SHITIN MYSELF ...
1055    ham  HIYA COMIN 2 BRISTOL 1 ST WEEK IN APRIL. LES G...
1086    ham  FR'NDSHIP is like a needle of a clock. Though ...
1088    ham                           You can never do NOTHING
1249    ham  HI HUN! IM NOT COMIN 2NITE-TELL EVERY1 IM SORR...
1296    ham                          TELL HER I SAID EAT SHIT.
1303    ham  FRAN I DECIDED 2 GO N E WAY IM COMPLETELY BROK...
1428    ham  THING R GOOD THANX GOT EXAMS IN MARCH IVE DONE...
1542    ham  Do u konw waht is rael FRIENDSHIP Im gving yuo...
1605    ham  God picked up a flower and dippeditinaDEW, lov...
1683    ham  HI BABE U R MOST LIKELY TO BE IN BED BUT IM SO...
1727    ham  ALRITE HUNNY!WOT U UP 2 2NITE? DIDNT END UP GO...
1743    ham  EY! CALM DOWNON THEACUSATIONS.. ITXT U COS IWA...
1815    ham  HI ITS JESS I DONT KNOW IF YOU ARE AT WORK BUT...
1991    ham  HI DARLIN IVE JUST GOT BACK AND I HAD A REALLY...
1998    ham  YEH I AM DEF UP4 SOMETHING SAT,JUST GOT PAYED2...
2202    ham  A boy was late 2 home. His father: "POWER OF F...
2296    ham  HI DARLIN IM MISSIN U HOPE YOU ARE HAVING A GO...
2376    ham  Thanx 4 2day! U r a goodmate I THINK UR RITE S...
2857    ham  Japanese Proverb: If one Can do it, U too Can ...
2905    ham  HI DARLIN I HOPE YOU HAD A NICE NIGHT I WISH I...
2963    ham           NONE!NOWHERE IKNO DOESDISCOUNT!SHITINNIT
3017    ham  &lt;#&gt;  is fast approaching. So, Wish u a v...
3147    ham  SHIT BABE.. THASA BIT MESSED UP.YEH, SHE SHUDV...
3186    ham  MAYBE IF YOU WOKE UP BEFORE FUCKING 3 THIS WOU...
3212    ham  OH YEAH,AND HAV A GREAT TIME IN NEWQUAY-SEND M...
3256    ham          HI ITS KATE CAN U GIVE ME A RING ASAP XXX
3285    ham  ALRITE SAM ITS NIC JUST CHECKIN THAT THIS IS U...
3305    ham  IM GONNAMISSU SO MUCH!!I WOULD SAY IL SEND U A...
3307    ham  HI DARLIN I FINISH AT 3 DO U 1 2 PICK ME UP OR...
3312    ham  HI DARLIN HOW WAS WORK DID U GET INTO TROUBLE?...
3547    ham  SO IS TH GOWER MATE WHICH IS WHERE I AM!?! HOW...
3626    ham  I want to tel u one thing u should not mistake...
3711    ham              ARE YOU IN TOWN? THIS IS V. IMPORTANT
3939    ham  WHEN THE FIRST STRIKE IS A RED ONE. THE BIRD +...
4007    ham  IM FINE BABES AINT BEEN UP 2 MUCH THO! SAW SCA...
4076    ham  God picked up a flower and dippeditinaDEW, lov...
4318    ham  HIYA STU WOT U UP 2.IM IN SO MUCH TRUBLE AT HO...
4333    ham                ALSO TELL HIM I SAID HAPPY BIRTHDAY
4559    ham  PISS IS TALKING IS SOMEONE THAT REALISE U THAT...
4621    ham                        THIS IS A LONG FUCKIN SHOWR
4890    ham  Japanese Proverb: If one Can do it, U too Can ...
4978    ham  A boy was late 2 home. His father: "POWER OF F...
4990    ham  So your telling me I coulda been your real Val...
5081    ham  Keep ur problems in ur heart, b'coz nobody wil...
5155    ham  MY NEW YEARS EVE WAS OK. I WENT TO A PARTY WIT...
5266    ham  HI DARLIN ITS KATE ARE U UP FOR DOIN SOMETHIN ...
5374    ham  Do u konw waht is rael FRIENDSHIP Im gving yuo...

In [38]:
ham[mask & mask1]#條件是符合mask跟mask1的訊息

     status                                                msg
984     ham  LOOK AT THE FUCKIN TIME. WHAT THE FUCK YOU THI...
1303    ham  FRAN I DECIDED 2 GO N E WAY IM COMPLETELY BROK...
3186    ham  MAYBE IF YOU WOKE UP BEFORE FUCKING 3 THIS WOU...
3212    ham  OH YEAH,AND HAV A GREAT TIME IN NEWQUAY-SEND M...
5155    ham  MY NEW YEARS EVE WAS OK. I WENT TO A PARTY WIT...

In [42]:
ham[mask | mask1]#條件是符合mask或是mask1的訊息

     status                                                msg
72      ham      HI BABE IM AT HOME NOW WANNA DO SOMETHING? XX
457     ham  LOOK AT AMY URE A BEAUTIFUL, INTELLIGENT WOMAN...
623     ham  MAKE SURE ALEX KNOWS HIS BIRTHDAY IS OVER IN F...
674     ham  Ditto. And you won't have to worry about me sa...
820     ham  BOO BABE! U ENJOYIN YOURJOB? U SEEMED 2 B GETT...
...     ...                                                ...
5155    ham  MY NEW YEARS EVE WAS OK. I WENT TO A PARTY WIT...
5202    ham           WOT STUDENT DISCOUNT CAN U GET ON BOOKS?
5224    ham  OH FUCK. JUSWOKE UP IN A BED ON A BOATIN THE D...
5266    ham  HI DARLIN ITS KATE ARE U UP FOR DOIN SOMETHIN ...
5374    ham  Do u konw waht is rael FRIENDSHIP Im gving yuo...

[71 rows x 2 columns]